#token-hud .palette[data-palette="vision-5e.visionModes"] {
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 140px;
    padding: 3px;
    gap: 3px;
    text-align: left;
    font-size: var(--font-size-13);
    color: var(--control-icon-color);

    >a {
        flex: 1;
        border: 1px solid transparent;
        border-radius: 3px;
        padding: 3px;
        white-space: nowrap;

        &:hover {
            color: var(--control-hover-icon-color);
            border-color: var(--control-hover-border-color);
        }

        &.active {
            color: var(--control-active-icon-color);
            border-color: var(--control-active-border-color);
        }
    }
}
